
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>{% block title %}Base{% end %}</title>
    <link rel="shortcut icon" href="{{ static_url('images/favicon.ico') }}">
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.css') }}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><i class="fa fa-camera-retro"></i> Tudo 图片库</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/explore">发现</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog"></i> 用户中心
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">收藏</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
{% if current_user %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">{{ current_user }} 登出</a>
      </li>
{% end %}
    </ul>

      <a href="/upload" class="btn btn-outline-success my-2 my-sm-0" >上传图片</a>
  </div>
</nav>

<div class="container">


{% block body %} this is tornado{% end %}
</div>

<!-- jQuery文件 -->
<script src="{{ static_url('js/jquery.js') }}"></script>
<!-- Popper文件 -->
<script src="{{ static_url('js/popper.min.js') }}"></script>
<!-- Bootstrap 核心 JavaScript 文件 -->
<script src="{{ static_url('js/bootstrap.js') }}"></script>

{% block extra_scripts %}{% end %}

</body>
</html>
