{% extends 'base.html' %}

{% block title %}room page{% end %}


{% block body %}

<div id="inbox">
    {% for message in messages %}
    {% raw message['html'] %}
    {% end %}
</div>


<div id="input">
    <form action="#" method="post" id="messageform">
        <table>
            <tr>
                <td>
                    <input name="body" id="message" style="width:500px">
                </td>
                <td style="padding-left:5px">
                    <input type="submit" value="提交">
                </td>
            </tr>
        </table>
    </form>
</div>

{% end %}

{% block extra_scripts %}
<script type="application/javascript" src="{{ static_url('js/chat.js') }}"></script>
{% end %}